/* 
font-family: 'Concert One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.header{
    background-image: url(/dev/assets/img/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 97vh;
}

.